<!DOCTYPE HTML>
                                                
{% load static %}   

<html>
    <head>
        <title>Personal Finance Tracker 2.0</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/Budget/assets/css/main.css" />
    </head>
    <body>
        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="/budget/" class="logo"><strong>Personal Finance Tracker 2.0</strong> by Pat</a>
                    <nav id="nav">
                        <a href="/budget/">Home</a>
                        <a href="/budget/track">Track</a>
                        <a href="/budget/analyze">Analyze</a>
                        <a href="/budget/action">Take Action</a>
                        <a href="/admin/">Admin</a>
                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
            </header>
    </body>
</html>    