<!DOCTYPE HTML>
<!--    
    This is the About Us Tab link
-->
{% load static %}
<html>
	<head>
		<title>About Us - Personal Finance Tracker 2.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/Budget/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/budget/" class="logo"><strong>Personal Finance Tracker 2.0</strong> by Pat</a>
					<nav id="nav">
						<a href="/budget/">Home</a>
						<a href="generic.html">Budget Detail</a>
                     <a href="all_months.html">By Month</a>
						<a href="elements.html">About Us</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About Us</h2>
						<p>This is a page about us and stuff </p>
					</header>

		<!-- Intro -->
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Pat</h3>
								<p>My name is Pat and I created this website to track budget stuff.</p>
                                                             <div class="image round">
                                                                    <img src="{% static "/Budget/images/pat.jpg" %}" alt="Pic 01" style="width:128px;height:128px;" />
                                                             </div>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Staff</h3>
								<p>I don't have any because this is the simples website ever.</p>
                                                             <div class="image round">
                                                                    <img src="{% static "/Budget/images/ron.jpg" %}" alt="Pic 01" style="width:128px;height:128px;"/>
                                                             </div>

							</section>
						</div>

					<hr class="major" />

					<!-- Content -->
						<h2 id="content">Check out this video</h2>
						<p>Just testing if I can embed a video in my webpage...</p>
			                        <iframe width="800" height="600" src="https://www.youtube.com/embed/AXwGVXD7qEQ" frameborder="0" allowfullscreen></iframe>
                            </div>
			</section>

		<!-- Footer -->
<!--			<footer id="footer">

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>
-->

               <!-- Footer -->
                        <footer id="footer">
                                <div class="inner">

                                        <h3>Get in touch</h3>

                                        <form action="#" method="post">

                                                <div class="field half first">
                                                        <label for="name">Name</label>
                                                        <input name="name" id="name" type="text" placeholder="Name">
                                                </div>
                                                <div class="field half">
                                                        <label for="email">Email</label>
                                                        <input name="email" id="email" type="email" placeholder="Email">
                                                </div>
                                                <div class="field">
                                                        <label for="message">Message</label>
                                                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                                                </div>
                                                <ul class="actions">
                                                        <li><input value="Send Message" class="button alt" type="submit"></li>
                                                </ul>
                                          </form>
		<!-- Scripts -->
			<script src="{% static "Budget/assets/js/jquery.min.js" %}"></script>
			<script src="{% static "Budget/assets/js/skel.min.js" %}"></script>
			<script src="{% static "Budget/assets/js/util.js" %}"></script>
			<script src="{% static "Budget/assets/js/main.js" %}"></script>

	</body>
</html>
