<!DOCTYPE HTML>
      
{% load static %}      
                                          
<html>
    <head>
        <title>Personal Finance Tracker 2.0</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/Budget/assets/css/main.css" />
    </head>
    <body>
        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="/budget/" class="logo"><strong>Personal Finance Tracker 2.0</strong> by Pat</a>
                    <nav id="nav">
                        <a href="/budget/">Home</a>
                        <a href="/budget/track">Track</a>
<!--                        <a href="/budget/analyze">Analyze</a> 
                        <a href="/budget/action">Take Action</a> -->
                        <a href="/admin/">Admin</a>
                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
            </header>

        <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <header>
                        <h1>Start Tracking!</h1>
                    </header>

                    <div class="flex ">

                        <div>
                            <span class="icon fa-thumb-tack"></span>
                            <h3>Track</h3>
                            <p>Store and organize budget data quickly <br />and easily </p>
                        </div>

                        <div>
                            <span class="icon fa-line-chart"></span>
                            <h3>Analyze</h3>
                            <p>Simply pull up budget by category<br /> to analyze your week, month, or year</p>
                        </div>

                        <div>
                            <span class="icon fa-credit-card"></span>
                            <h3>Take Action</h3>
                            <p>Understanding of the way you<br /> spent will help you set goals for saving</p>
                        </div>

                    </div>

                    <footer>
                        <a href="/budget/track" class="button">Get Started</a>
                    </footer>
                </div>
            </section>
    </body>
</html>
